# Homework 1

## Part I. HICP data from SDW

In [1]:
# import pandas (and other libraries you may want to use)
import pandas as pd

In [2]:
# import the data files you downloaded from SDW
data_091100 = pd.read_csv('./data/data_091100.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_091200 = pd.read_csv('./data/data_091200.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_091300 = pd.read_csv('./data/data_091300.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_091400 = pd.read_csv('./data/data_091400.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_091500 = pd.read_csv('./data/data_091500.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_092100 = pd.read_csv('./data/data_092100.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_092300 = pd.read_csv('./data/data_092300.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_093100 = pd.read_csv('./data/data_093100.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_093200 = pd.read_csv('./data/data_093200.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_093300 = pd.read_csv('./data/data_093300.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_093400 = pd.read_csv('./data/data_093400.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_094100 = pd.read_csv('./data/data_094100.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_094200 = pd.read_csv('./data/data_094200.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_095100 = pd.read_csv('./data/data_095100.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_095200 = pd.read_csv('./data/data_095200.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_095300 = pd.read_csv('./data/data_095300.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)
data_096000 = pd.read_csv('./data/data_096000.csv', skiprows=6, usecols=[0,1], header=None, index_col=0)

In [3]:
# Print as a list the codes of the subindices you downloaded.
# For example, if you download items from the __FOOD AND NON-ALCOHOLIC BEVERAGES__ category, 
# list all codes type `01XX00` you were able to download. 
list_of_subindices=['091100', '091200', '091300', '091400', '091500', '092100', '092300', '093100', '093200', '093300','093400', '094100', '094200', '095100', '095200', '095300', '096000']
print(list_of_subindices)
type(list_of_subindices)

['091100', '091200', '091300', '091400', '091500', '092100', '092300', '093100', '093200', '093300', '093400', '094100', '094200', '095100', '095200', '095300', '096000']

list

In [4]:
# create a single dataframe combining data for all HICP subindices you downloaded
list_of_dfs=[data_091100, data_091200, data_091300, data_091400, data_091500, data_092100, data_092300, data_093100, data_093200, data_093300, data_093400, data_094100, data_094200, data_095100, data_095200, data_095300, data_096000]
df_all = pd.concat(list_of_dfs, axis=1)
df_all

,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
0,,,,,,,,,,,,,,,,,
2021Dec,0.9,7.5,0.6,-0.4,1.8,5.5,6.5,2.2,3.1,5.6,3.0,2.5,3.0,2.3,4.2,2.1,NaN
2021Nov,1.4,7.1,0.2,-1.9,1.7,4.6,4.8,2.0,2.9,5.4,2.8,2.7,2.6,2.6,3.9,2.0,NaN
2021Oct,0.5,5.5,1.5,-0.5,1.6,3.5,2.2,1.5,2.0,5.0,2.2,2.3,2.1,1.8,3.8,2.1,NaN
2021Sep,-0.1,6.0,1.2,-1.7,1.0,3.3,-5.6,1.0,1.7,4.5,2.2,2.4,2.2,1.9,3.7,2.0,NaN
2021Aug,-0.5,5.9,0.3,-1.9,0.8,2.2,-8.4,1.0,1.0,4.6,2.0,2.8,2.2,1.4,3.4,1.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.4
1996Apr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.4
1996Mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.3
1996Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.8
1996Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.6

In [5]:
# make other changes to the dataframe - set datetime index, rename the columns (up to you, but shortning very names may be a good idea)
df_all.columns = list_of_subindices
df_all.reset_index(inplace=True)
df_all.columns.values[0]="date" 
df_all

,date,091100,091200,091300,091400,091500,092100,092300,093100,093200,093300,093400,094100,094200,095100,095200,095300,096000
0,2021Dec,0.9,7.5,0.6,-0.4,1.8,5.5,6.5,2.2,3.1,5.6,3.0,2.5,3.0,2.3,4.2,2.1,NaN
1,2021Nov,1.4,7.1,0.2,-1.9,1.7,4.6,4.8,2.0,2.9,5.4,2.8,2.7,2.6,2.6,3.9,2.0,NaN
2,2021Oct,0.5,5.5,1.5,-0.5,1.6,3.5,2.2,1.5,2.0,5.0,2.2,2.3,2.1,1.8,3.8,2.1,NaN
3,2021Sep,-0.1,6.0,1.2,-1.7,1.0,3.3,-5.6,1.0,1.7,4.5,2.2,2.4,2.2,1.9,3.7,2.0,NaN
4,2021Aug,-0.5,5.9,0.3,-1.9,0.8,2.2,-8.4,1.0,1.0,4.6,2.0,2.8,2.2,1.4,3.4,1.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,1996May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.4
308,1996Apr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.4
309,1996Mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.3
310,1996Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.8
311,1996Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.6

In [6]:
new_index = pd.to_datetime(df_all.date, format='%Y%b') 

df_all.index=new_index 
df_all.drop('date', axis=1, inplace=True)
df_all

,091100,091200,091300,091400,091500,092100,092300,093100,093200,093300,093400,094100,094200,095100,095200,095300,096000
date,,,,,,,,,,,,,,,,,
2021-12-01,0.9,7.5,0.6,-0.4,1.8,5.5,6.5,2.2,3.1,5.6,3.0,2.5,3.0,2.3,4.2,2.1,NaN
2021-11-01,1.4,7.1,0.2,-1.9,1.7,4.6,4.8,2.0,2.9,5.4,2.8,2.7,2.6,2.6,3.9,2.0,NaN
2021-10-01,0.5,5.5,1.5,-0.5,1.6,3.5,2.2,1.5,2.0,5.0,2.2,2.3,2.1,1.8,3.8,2.1,NaN
2021-09-01,-0.1,6.0,1.2,-1.7,1.0,3.3,-5.6,1.0,1.7,4.5,2.2,2.4,2.2,1.9,3.7,2.0,NaN
2021-08-01,-0.5,5.9,0.3,-1.9,0.8,2.2,-8.4,1.0,1.0,4.6,2.0,2.8,2.2,1.4,3.4,1.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.4
1996-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.4
1996-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.3
1996-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.8
1996-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.6

In [7]:
# print the type of the index of the dataframe
type(df_all.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [8]:
# print the data types of the columns in the dataframe
print(df_all.dtypes)

091100    float64
091200    float64
091300    float64
091400    float64
091500    float64
092100    float64
092300    float64
093100    float64
093200    float64
093300    float64
093400    float64
094100    float64
094200    float64
095100    float64
095200    float64
095300    float64
096000    float64
dtype: object

In [9]:
# save as a csv file under the name of the item group
df_all.to_csv(f'data/RECREATION_AND_CULTURE_090000.csv', index=True)

In [10]:
# compute and print the means and standard deviations for each series for the full period
display('Means for each series for the full period:')
print(df_all.mean())
display('Standard deviations for each series for the full period:')
print(df_all.std())

'Means for each series for the full period:'

091100    -6.434667
091200    -7.258000
091300   -10.466000
091400    -1.775667
091500     2.082667
092100     2.093878
092300     3.348667
093100    -0.930333
093200    -0.393667
093300     1.657000
093400     1.655000
094100     2.741000
094200     2.050667
095100     1.559667
095200     3.304000
095300     1.542333
096000     2.583750
dtype: float64

'Standard deviations for each series for the full period:'

091100    2.948669
091200    6.275010
091300    6.180597
091400    2.030365
091500    0.684784
092100    1.139885
092300    7.121246
093100    1.522291
093200    0.946739
093300    1.082663
093400    1.069152
094100    0.714975
094200    0.952922
095100    0.922448
095200    0.819159
095300    0.872724
096000    2.637076
dtype: float64

In [11]:
# compute and print the means and standard deviations for each calendar month for each series
df_all.groupby(df_all.index.month).agg(['mean', 'std'])

     091100           091200            091300           091400            \
       mean       std   mean       std    mean       std   mean       std
date
1    -6.456  3.028625 -7.420  6.364616 -10.648  6.123324 -1.748  2.048601
2    -6.448  3.032892 -7.400  6.288415 -10.644  6.055925 -1.760  2.141067
3    -6.476  2.966940 -7.396  6.330777 -10.604  6.097300 -1.824  2.636962
4    -6.468  3.007313 -7.332  6.433812 -10.588  6.115439 -1.820  2.021963
5    -6.476  2.855591 -7.288  6.513212 -10.532  6.124998 -1.748  2.137584
6    -6.464  2.859615 -7.272  6.239292 -10.496  6.227257 -1.840  2.358849
7    -6.476  2.861276 -7.260  6.222004 -10.452  6.316785 -1.796  1.884029
8    -6.444  2.921056 -7.216  6.321437 -10.412  6.402820 -1.816  1.858467
9    -6.420  2.992351 -7.196  6.239156 -10.348  6.454205 -1.776  2.139174
10   -6.392  3.052857 -7.168  6.289324 -10.332  6.522890 -1.732  1.797619
11   -6.344  3.197796 -7.104  6.632840 -10.292  6.484271 -1.756  1.907022
12   -6.352  3.244369 -7.044  6.809373 -10.244  6.594700 -1.692  1.712192

     091500            ... 094200           095100           095200            \
       mean       std  ...   mean       std   mean       std   mean       std
date                   ...
1     2.128  0.640000  ...  2.036  0.896233  1.612  1.019526  3.296  0.821827
2     2.100  0.641613  ...  2.032  0.841982  1.604  1.003527  3.300  0.836162
3     2.100  0.686173  ...  2.048  0.896344  1.556  0.969570  3.304  0.886698
4     2.088  0.735028  ...  2.052  1.001299  1.568  0.978400  3.312  0.842773
5     2.064  0.712905  ...  2.048  0.979847  1.556  0.896791  3.296  0.820813
6     2.072  0.746949  ...  2.056  1.106074  1.532  0.862516  3.296  0.866737
7     2.080  0.721110  ...  2.052  1.009587  1.536  0.935806  3.296  0.910348
8     2.072  0.724868  ...  2.044  0.964400  1.536  0.942019  3.300  0.852447
9     2.064  0.721041  ...  2.068  0.924986  1.536  0.893439  3.300  0.756086
10    2.064  0.680000  ...  2.040  0.900463  1.548  0.874700  3.324  0.793872
11    2.076  0.674092  ...  2.060  1.051982  1.556  0.895396  3.308  0.783113
12    2.084  0.676190  ...  2.072  1.042641  1.576  0.986272  3.316  0.832006

     095300           096000
       mean       std   mean       std
date
1     1.576  0.870479  2.550  2.322544
2     1.512  0.904305  2.595  2.548988
3     1.500  0.877971  2.500  3.181360
4     1.488  0.867621  2.500  3.569166
5     1.560  0.889288  2.675  2.574138
6     1.548  0.900056  2.510  2.244971
7     1.556  0.855901  2.510  2.704752
8     1.540  0.873689  2.690  2.247783
9     1.540  0.867948  2.375  2.245200
10    1.564  0.888294  2.580  2.199186
11    1.560  0.900463  2.695  2.357178
12    1.564  0.964745  2.825  3.617774

[12 rows x 34 columns]

In [12]:
# redo the above for the period between January 2017 and December 2021
df_all.loc['2017-01':'2021-12'].groupby(df_all.loc['2017-01':'2021-12'].index.month).agg(['mean', 'std'])

     091100           091200           091300           091400            \
       mean       std   mean       std   mean       std   mean       std
date
1     -4.20  2.557342  -1.45  4.499259 -2.425  2.426761 -1.075  3.168990
2     -4.08  2.253220  -0.34  4.261807 -2.600  2.040833 -1.420  3.006160
3     -4.20  2.096426  -0.32  3.769881 -2.580  2.169562 -1.580  4.342465
4     -4.14  2.720845  -0.06  4.116188 -2.560  1.411737 -2.080  2.901207
5     -4.12  2.228677   0.06  4.425833 -2.560  1.201249 -1.280  2.804817
6     -4.08  2.202726  -0.04  3.956387 -2.520  1.143241 -1.580  3.453549
7     -4.08  2.317758  -0.16  3.314815 -2.560  1.370401 -1.600  2.324866
8     -4.02  2.505394  -0.30  3.834710 -2.480  2.047437 -1.160  2.267818
9     -3.92  2.962600  -0.26  3.803682 -2.220  2.700370 -1.100  2.774887
10    -3.82  3.019437  -0.42  3.819293 -2.060  2.634957 -1.040  2.554016
11    -3.60  3.368234  -0.06  4.749000 -2.260  2.024352 -1.060  2.736421
12    -3.58  3.185436   0.06  5.409529 -1.980  2.691096 -0.960  2.256768

     091500            ... 094200           095100           095200            \
       mean       std  ...   mean       std   mean       std   mean       std
date                   ...
1     1.675  0.262996  ...   1.50  0.244949   1.15  0.957427   4.20  0.454606
2     1.600  0.282843  ...   1.34  0.654217   1.04  0.357771   4.16  0.536656
3     1.560  0.250998  ...   1.52  0.593296   1.04  0.439318   4.12  0.554076
4     1.560  0.296648  ...   1.44  0.658027   1.10  0.764853   4.08  0.593296
5     1.600  0.524404  ...   1.42  0.739594   1.12  0.408656   4.06  0.618870
6     1.560  0.522494  ...   1.34  1.188697   1.04  1.013903   4.10  0.538516
7     1.620  0.506952  ...   1.36  1.013903   1.02  1.044988   4.14  0.740270
8     1.580  0.544977  ...   1.32  0.828855   1.06  0.702140   4.12  0.563028
9     1.700  0.509902  ...   1.50  0.692820   1.40  0.608276   4.04  0.477493
10    1.760  0.378153  ...   1.46  0.630872   1.28  0.526308   4.10  0.393700
11    1.800  0.435890  ...   1.50  0.845577   1.30  1.191638   4.04  0.427785
12    1.840  0.391152  ...   1.60  0.946044   1.20  1.601562   4.14  0.336155

     095300           096000
       mean       std   mean std
date
1     1.625  0.275379    NaN NaN
2     1.320  0.521536    NaN NaN
3     1.320  0.601664    NaN NaN
4     1.340  0.702140    NaN NaN
5     1.660  0.598331    NaN NaN
6     1.580  0.576194    NaN NaN
7     1.620  0.248998    NaN NaN
8     1.700  0.282843    NaN NaN
9     1.760  0.194936    NaN NaN
10    1.700  0.387298    NaN NaN
11    1.640  0.461519    NaN NaN
12    1.660  0.482701    NaN NaN

[12 rows x 34 columns]

## Part II. GDP data from EUROSTAT

In [13]:
# import the data files you downloaded from EUROSTAT
df_gdp=pd.read_excel('./data/GDP_data.xlsx', sheet_name='Sheet 1', index_col=0, skiprows=10, nrows=108, usecols="A:B")
df_gdp

C:\Users\anari\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

         Unnamed: 1
TIME
1995-Q1   1837419.9
1995-Q2   1847658.7
1995-Q3   1851717.6
1995-Q4   1858277.7
1996-Q1   1861887.8
...             ...
2020-Q4   2569399.0
2021-Q1   2564113.0
2021-Q2   2620528.3
2021-Q3   2679880.7
2021-Q4   2687644.7

[108 rows x 1 columns]

In [14]:
# create a dataframe with a datetime index matching the timing of the series you downloaded


df_gdp.reset_index(inplace=True)
df_gdp.columns.values[0]="date" 
df_gdp.columns.values[1]="gdp" 
df_gdp

        date        gdp
0    1995-Q1  1837419.9
1    1995-Q2  1847658.7
2    1995-Q3  1851717.6
3    1995-Q4  1858277.7
4    1996-Q1  1861887.8
..       ...        ...
103  2020-Q4  2569399.0
104  2021-Q1  2564113.0
105  2021-Q2  2620528.3
106  2021-Q3  2679880.7
107  2021-Q4  2687644.7

[108 rows x 2 columns]

In [15]:
new_index = pd.to_datetime(df_gdp.date)
df_gdp.index=new_index
df_gdp.drop('date', axis=1, inplace=True)
df_gdp

                  gdp
date
1995-01-01  1837419.9
1995-04-01  1847658.7
1995-07-01  1851717.6
1995-10-01  1858277.7
1996-01-01  1861887.8
...               ...
2020-10-01  2569399.0
2021-01-01  2564113.0
2021-04-01  2620528.3
2021-07-01  2679880.7
2021-10-01  2687644.7

[108 rows x 1 columns]

In [16]:
#setting the label to the end of the period 
df_gdp=df_gdp.resample('Q', label='right').last()
df_gdp

                  gdp
date
1995-03-31  1837419.9
1995-06-30  1847658.7
1995-09-30  1851717.6
1995-12-31  1858277.7
1996-03-31  1861887.8
...               ...
2020-12-31  2569399.0
2021-03-31  2564113.0
2021-06-30  2620528.3
2021-09-30  2679880.7
2021-12-31  2687644.7

[108 rows x 1 columns]

In [17]:
# save as a csv file under the name "Real-GDP-EA.csv"

df_gdp.to_csv(f'data/Real-GDP-EA.csv', index=True)

## PART III Combine GDP and inflation data

In [18]:
# create a new datafame containing the GDP data and the inflation indices from the first task.
dfs_merged = pd.concat([df_all, df_gdp], axis=1)
dfs_merged

,091100,091200,091300,091400,091500,092100,092300,093100,093200,093300,093400,094100,094200,095100,095200,095300,096000,gdp
date,,,,,,,,,,,,,,,,,,
1995-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1837419.9
1995-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1847658.7
1995-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1851717.6
1995-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1858277.7
1996-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2679880.7
2021-10-01,0.5,5.5,1.5,-0.5,1.6,3.5,2.2,1.5,2.0,5.0,2.2,2.3,2.1,1.8,3.8,2.1,NaN,NaN
2021-11-01,1.4,7.1,0.2,-1.9,1.7,4.6,4.8,2.0,2.9,5.4,2.8,2.7,2.6,2.6,3.9,2.0,NaN,NaN
2021-12-01,0.9,7.5,0.6,-0.4,1.8,5.5,6.5,2.2,3.1,5.6,3.0,2.5,3.0,2.3,4.2,2.1,NaN,NaN
2021-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2687644.7

In [19]:
#save as a csv file named "merged-GDP-inflation.csv"
dfs_merged.to_csv(f'data/merged-GDP-HIPC.csv', index=True)

In [20]:
#alternatively we could create a file with only quarterly data

#Transforming the data from task 1 in quarterly data
df_all_quarter=df_all.resample('Q').mean()
df_all_quarter

,091100,091200,091300,091400,091500,092100,092300,093100,093200,093300,093400,094100,094200,095100,095200,095300,096000
date,,,,,,,,,,,,,,,,,
1996-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.233333
1996-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.500000
1996-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.933333
1996-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.233333
1997-03-31,-4.066667,-5.400000,-11.033333,0.000000,2.666667,NaN,0.700000,1.066667,-0.300000,0.900000,1.733333,4.066667,3.900000,4.033333,2.700000,1.100000,3.933333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,-4.600000,1.666667,-0.333333,-5.000000,1.733333,0.800000,0.366667,0.700000,0.100000,2.933333,0.800000,2.333333,0.900000,-0.033333,3.633333,1.133333,NaN
2021-03-31,-1.366667,4.166667,0.933333,-5.566667,1.466667,1.666667,1.100000,0.700000,1.266667,3.566667,1.000000,1.900000,1.666667,0.800000,3.766667,0.700000,NaN
2021-06-30,-0.966667,4.933333,-0.833333,-4.833333,1.166667,1.900000,-2.633333,-0.100000,0.433333,4.566667,0.833333,1.766667,2.533333,1.466667,3.833333,0.533333,NaN
2021-09-30,-0.566667,5.533333,0.100000,-2.300000,0.900000,2.633333,-7.433333,0.933333,1.000000,4.333333,2.000000,2.633333,2.300000,1.700000,3.500000,1.666667,NaN
2021-12-31,0.933333,6.700000,0.766667,-0.933333,1.700000,4.533333,4.500000,1.900000,2.666667,5.333333,2.666667,2.500000,2.566667,2.233333,3.966667,2.066667,NaN

In [21]:
#Merging into a new quarterly dataframe
dfs_merged_q=pd.concat([df_all_quarter, df_gdp], axis=1)
dfs_merged_q

,091100,091200,091300,091400,091500,092100,092300,093100,093200,093300,093400,094100,094200,095100,095200,095300,096000,gdp
date,,,,,,,,,,,,,,,,,,
1995-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1837419.9
1995-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1847658.7
1995-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1851717.6
1995-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1858277.7
1996-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.233333,1861887.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,-4.600000,1.666667,-0.333333,-5.000000,1.733333,0.800000,0.366667,0.700000,0.100000,2.933333,0.800000,2.333333,0.900000,-0.033333,3.633333,1.133333,NaN,2569399.0
2021-03-31,-1.366667,4.166667,0.933333,-5.566667,1.466667,1.666667,1.100000,0.700000,1.266667,3.566667,1.000000,1.900000,1.666667,0.800000,3.766667,0.700000,NaN,2564113.0
2021-06-30,-0.966667,4.933333,-0.833333,-4.833333,1.166667,1.900000,-2.633333,-0.100000,0.433333,4.566667,0.833333,1.766667,2.533333,1.466667,3.833333,0.533333,NaN,2620528.3
2021-09-30,-0.566667,5.533333,0.100000,-2.300000,0.900000,2.633333,-7.433333,0.933333,1.000000,4.333333,2.000000,2.633333,2.300000,1.700000,3.500000,1.666667,NaN,2679880.7
2021-12-31,0.933333,6.700000,0.766667,-0.933333,1.700000,4.533333,4.500000,1.900000,2.666667,5.333333,2.666667,2.500000,2.566667,2.233333,3.966667,2.066667,NaN,2687644.7

In [22]:
#saving also the new file
dfs_merged_q.to_csv(f'data/merged-GDP-HIPC-quarter.csv', index=True)